---
import BaseHead from '@/components/ui/BaseHead.astro';
import Footer from '@/components/ui/Footer';
import Header from '@/components/ui/Header';
import { BodyLayout } from '@/components/layouts/BodyLayout';
import { FooterLayout } from '@/components/layouts/FooterLayout';
import { HeaderLayout } from '@/components/layouts/HeaderLayout';
import { MainLayout } from '@/components/layouts/MainLayout';
import '@/styles/main.scss';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const isPartial = import.meta.env.PUBLIC_BUILD_TARGET === 'partial';
---

{
	isPartial ? (
		<html>
			<head></head>
			<body><slot /></body>
		</html>
	) : (
		<html lang="ja">
			<head>
				<BaseHead title={title} description={description} />
			</head>
			<BodyLayout>
				<slot name="first-element-of-body" />
				<HeaderLayout>
					<Header currentPath={Astro.url.pathname} />
				</HeaderLayout>
				<MainLayout>
					<slot />
				</MainLayout>
				<FooterLayout>
					<Footer />
				</FooterLayout>
				<slot name="last-element-of-body" />
			</BodyLayout>
		</html>
	)
}
